#chat-sidebar {
	flex-grow: 0;
	width: 30%;
	/* height: 100%; */
	align-self: stretch;
	background-color: #202020;
	padding: 16px;
	
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: stretch;
}
#chat-header {
	display: flex;
	flex-direction: row;
	align-items: center;
}
#chat-header h3 {
	flex-grow: 1;
}
#chat {
	flex-grow: 1;
	overflow: auto;
}
#chatbox {
	padding: 1em;
	margin: -16px;
	margin-top: 0;
	background-color: #101214;
	color: inherit;
	border: none;
	border-top: 1px solid #404040;
	box-shadow: inset 1px 1px 4px #00000080;
}

#download-chat-history {
	width: 2em;
	height: 2em;
	color: inherit;
	border-radius: 4px;
	background-color: #404040;
	/* box-shadow: 2px 2px 2px #00000080; */
	box-shadow: inset 1px 1px 4px #00000080;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
#download-chat-history:hover {
	filter: brightness(125%);
}
#download-chat-history:active {
	filter: brightness(80%);
}
#download-chat-history:focus {
	border: 1px solid Highlight;
}

message {
	display: block;
	margin: 8px 0px;
	border-left: 4px solid currentcolor;
	padding: 2px 8px;
}
message.message, message.action {
	animation: msg-border-fade 1s ease-out 1s;
	animation-fill-mode: forwards;
}
message.info {
	color: #00a0ff;
	background: linear-gradient(90deg, #00a0ff40, transparent);
}
message.error {
	color: #f04040;
	background: linear-gradient(90deg, #f0404040, transparent);
}
message.join, message.leave, message.namechange, message.miscdata {
	color: #a0a0a0;
}

@keyframes msg-border-fade {
	to {
		border-color: transparent;
	}
}

/* chat-only window specifics */

body.chat {
	padding: 16px;
	
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: stretch;
}
body.chat #chatbox {
	margin: 0;
}

/* in-stream-viewer mode specifics */
body.streamMode {
	background: transparent;
}
.streamMode #chatbox, .streamMode #chat-header {
	display: none;
}

.streamMode message {
	animation: msg-hide 1s linear 2s;
	animation-fill-mode: forwards;
	background: linear-gradient(90deg, #000000ff, #000000ff, transparent);
}
@keyframes msg-hide {
	75% {
		opacity: 0;
		height: auto;
		margin: 8px 0px;
		padding: 2px 8px;
	}
	to {
		opacity: 0;
		height: 0;
		margin: 0;
		padding: 0;
	}
}
