<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="chat.css" />
	</head>
	<body>
		<div id="main">
			<div id="mainpane">
				<div id="player-container">
					<div id="player"></div>
				</div>
				<div class="stats">
					<span class="online-counter-wrapper">
						{{wolf-howl-symbolic.svg}}
						<span id="online-counter">–</span>
					</span>
				</div>
			</div>
			<div id="chat-sidebar">
				<div id="chat-header">
					<h3>Chat</h3>
					<a id="download-chat-history" title="Download chat history" download="chat.jsonl">{{download.svg}}</a>
				</div>
				<div id="chat">
				</div>
				<input type="text" id="chatbox" placeholder="Chat" />
			</div>
		</div>
		<script src="deps/ovenplayer.js"></script>
		<script src="setup-ovenplayer.js"></script>
		<script src="chat.js"></script>
		<script src="stats.js"></script>
	</body>
</html>
