* {
	box-sizing: border-box;
}

body {
	background-color: #303030;
	color: #e0e0e0;
}

body {
	height: 100vh;
	/* max-height: 100vh; */
	/* overflow: hidden; */
	margin: 0;
}

#main {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

#main > * {
	margin: 8px;
	margin-right: 0;
}
#main > *:last-child {
	margin-right: 8px;
}

video, #player-container {
	max-width: 100%;
	max-height: 100%;
}

#mainpane {
	flex-grow: 1;
	/* max-height: 100vh; */
	
	display: flex;
	flex-direction: column;
	/* justify-content: start; */
}

.stats {
	display: flex;
	flex-direction: row;
	justify-content: end;
}
.stats > * {
	padding: 8px;
}
.online-counter-wrapper {
	color: #c0c0d0;
	font-weight: bold;
}
.online-counter-wrapper > svg {
	/* the user icon */
	height: 1em;
	aspect-ratio: 1;
	color: inherit;
	vertical-align: baseline;
}
