<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="chat.css" />
		<meta name="color-scheme" content="dark" />
	</head>
	<body class="chat">
		<div id="chat-header">
			<h3>Chat</h3>
			<a id="download-chat-history" title="Download chat history" download="chat.jsonl">{{download.svg}}</a>
		</div>
		<div id="chat">
		</div>
		<input type="text" id="chatbox" placeholder="Chat" />
	</body>
	<script src="chat.js"></script>
</html>

